.footer {
  background-color: rgba(0, 0, 0, 1);
}

.section-tittle__footer {
  color: #FEFEFE;
  padding-top: 38px;

  @media screen and (min-width: $ui-breakpoint-md-min) {
    padding-top: 57px;
    font-size: 16px;
  }

  @media screen and (min-width: $ui-breakpoint-md-min) {
    padding-top: 66px;
  }
}

.footer__contacts {
  text-align: center;
}

.footer__contacts-text {
  color: #B9B9B9;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  padding-top: 8px;

  & span {
    display: none;
  }

  @media screen and (min-width: $ui-breakpoint-md-min) {
    font-size: 16px;
    width: 684px;
    margin: 0 auto;

    & span {
      display: inline;
    }
  }
}

.socials {
  margin-top: 26px;
  flex-direction: row;
  @include ui-flex(center, center);
  gap: 6px;
}

.socials__item {
  position: relative;
}

.socials__icon {
  position: absolute;
  left: 12px;
  top: 11px;
}

.socials__address {
  color: #B9B9B9;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin: 25px auto 0;
  width: 235px;
  text-align: center;
  padding-bottom: 47px;

  @media screen and (min-width: $ui-breakpoint-md-min) {
    width: 613px;
    font-size: 16px;
  }
}