.instagram-shots {
  background: none;

  @media screen and (min-width: $ui-breakpoint-md-min) {
    background-color: #F5F5F5;
  }

  @media screen and (min-width: $ui-breakpoint-xl-min) {
    background-color: #F5F5F5;
    padding-top: 47px;
  }
}

.inst-link {
  color: #4E4E4E;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 22px;
  text-decoration: none;
  display: none;

  @media screen and (min-width: $ui-breakpoint-md-min) {
    display: block;

  }
}

.instagram-shots__tittles {
  @media screen and (min-width: $ui-breakpoint-md-min) {
    display: flex;
    justify-content: space-between;
    padding-top: 47px;

  }
}

.instagram-shots__images-list {
  margin-top: 13px;
  padding-bottom: 42px;

  @media screen and (min-width: $ui-breakpoint-md-min) {
    margin-top: 35px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    gap: 9px;
  }

  @media screen and (min-width: $ui-breakpoint-xl-min) {
    margin-top: 35px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    gap: 9px;
  }
}

.instagram-shots__images-item {
  display: none;

  @media screen and (min-width: $ui-breakpoint-md-min) {
    display: block;
    width: 240px;

    &:last-of-type {
      display: none;
    }
  }

  @media screen and (min-width: $ui-breakpoint-xl-min) {
    display: block;
    width: 285px;

    &:last-of-type {
      display: block;
    }
  }
}

.instagram-shots__item-1 {
  display: block;
}

.instagram-shots-tittle__latest {
  display: none;

  @media screen and (min-width: $ui-breakpoint-md-min) {
    display: block;
  }
}

.instagram-shots-tittle {
  @media screen and (min-width: $ui-breakpoint-md-min) {
    display: none;
  }
}
