.resent-posts {
  margin-top: 36px;
}

.resent-posts__grid {
  margin-top: 24px;
  display: grid;
  grid-template-columns: 262px;
  grid-template-rows: repeat(3, 196px);
  grid-gap: 32px;
  padding-bottom: 69px;

  @media screen and (min-width: $ui-breakpoint-md-min) {
    grid-template-columns: 585px;
    grid-template-rows: repeat(4, 140px);
  }

  @media screen and (min-width: $ui-breakpoint-xl-min) {
    grid-template-columns: repeat(2, 585px);
    grid-template-rows: repeat(2, 140px);
  }
}

.resent-posts__grid-item {

  &:last-of-type {
    display: none;

    @media screen and (min-width: $ui-breakpoint-md-min) {
      display: flex;
      flex-direction: row;
      gap: 21px;
    }
  }

  @media screen and (min-width: $ui-breakpoint-md-min) {
    display: flex;
    flex-direction: row;
    gap: 21px;
  }
}

.resent-posts__grid-tittle {
  color: #4E4E4E;
  font-size: 14px;
  font-weight: 700;
  line-height: 30px;
  margin-top: 11px;

  @media screen and (min-width: $ui-breakpoint-md-min) {
    font-size: 16px;
    margin-top: 0;
  }
}

.resent-posts__grid-comments {
  color: #7C7C7C;
  font-size: 11px;
  font-weight: 400;
  line-height: 20px;

  @media screen and (min-width: $ui-breakpoint-md-min) {
    font-size: 12px;
  }
}

.resent-posts__grid-text {
  color: #5C5C5C;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  display: none;

  @media screen and (min-width: $ui-breakpoint-md-min) {
    display: block;
    padding-top: 13px;
  }
}


